/*
#1F2830; Blue 3
#242E38; Blue 2
#293540; Blue 1

#5F6870; Grey 4
#444E58; Grey 3
#878E94; Grey 2
#C3C6C9; Grey 1

#A6A6A8
#CECECE
#E8E9F3
#272635
#B1E5F2;

 */

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

body {
  height: 100%;
  width: 100%;
  color: #272635;
  background: linear-gradient(#A6A6A8, #CECECE, #E8E9F3, #CECECE);
}

a {
  color: #272635;
}

a:hover {
  color: #A6A6A8;
}

a:active {
  color: #B1E5F2;
}

a:visited {
  color: #FCFCFC;
}

/* HOME */

header {
  height: 30%;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1000;
}

#title {
  margin-top: 17%;
  text-align: center;
}

#title h1 {
  font-size: 3.75em;
  font-family: 'Archivo Black', sans-serif;
}

#title h2 {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}

nav {
  width: 70%;
  padding: 0.5% 0 0 30%;
  font-family: 'Open Sans', sans-serif;
}

nav h2 {
  padding-top: 1.5%;
}

footer {
  height: 15%;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

#footer-1,
#footer-2 {
  display: flex;
  align-items: center;
}

#footer-1 {
  flex-grow: 1;
  justify-content: space-around;
}

#footer-2 {
  flex-grow: 3;
  justify-content: center;

}

#footer-3 {
  flex-grow: 1.5;
}

/* WEB BUILD PAGE */

/* JS EFFECTS */

.hidden {
  display: none;
}
