/*
#1F2830; Blue 3
#242E38; Blue 2
#293540; Blue 1

#5F6870; Grey 4
#444E58; Grey 3
#878E94; Grey 2
#C3C6C9; Grey 1

#A6A6A8
#CECECE
#E8E9F3
#272635
#B1E5F2;

 */

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  width: 100vw;
  height: 100%;
  /* position: fixed; */
  background: linear-gradient(#A6A6A8, #CECECE, #E8E9F3, #CECECE);
  overflow: hidden;

}

body {
  height: 100%;
  width: 100%;
  color: #272635;
  overflow: scroll;
}

a,
a:visited {
  color: #272635;
  text-decoration: none;
}

a:hover {
  color: #A6A6A8;
}

a:active {
  color: #B1E5F2;
}

#divider {
  width: 80vw;
  border: 1px solid #B1E5F2;
  background: #B1E5F2;
  height: 10px;
  margin: 1% 10vw;
}

/* HOME */

#title {
  margin-top: 17%;
  text-align: center;
}

#title h1 {
  font-size: 3.75em;
  font-family: 'Archivo Black', sans-serif;
}

#title h2 {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}

nav {
  width: 70%;
  padding: 0.5% 0 0 30%;
  font-family: 'Open Sans', sans-serif;
}

nav h2 {
  padding-top: 1.5%;
}

footer {
  height: 15%;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

#footer-1,
#footer-2 {
  display: flex;
  align-items: center;
}

#footer-1 {
  flex-grow: 1;
  justify-content: space-around;
}

#footer-2 {
  flex-grow: 3;
  justify-content: center;

}

#footer-3 {
  flex-grow: 1.5;
}

/* FRAME */

header {
  width: 100vw;
  top: 0;
  z-index: -1000;
}

#webbuild_page #title,
#bot_page #title,
#marketing_page #title,
#contact_page #title {
  margin: 2% 0 0.5%;
}

#webbuild_page #title h1,
#bot_page #title h1,
#marketing_page #title h1,
#contact_page #title h1 {
  font-size: 2.75em;
}

#webbuild_page #title h2,
#bot_page #title h2,
#marketing_page #title h2,
#contact_page #title h2 {
  font-size: 2em;
}

#webbuild_page nav,
#bot_page nav,
#marketing_page nav,
#contact_page nav {
  width: 100%;
  justify-content: space-between;
  padding: 0;
  text-align: center;
  font-size: 0.8em;
}

#webbuild_page nav h2,
#bot_page nav h2,
#marketing_page nav h2,
#contact_page nav h2 {
  display: inline;
  margin: 0 5%;
}

#webbuild_page footer,
#bot_page footer,
#contact_page footer {
  position: relative;
}

#blurb,
#proof {
  margin: 3% 8%;
  font-family: 'Open Sans', sans-serif;
}

#blurb h1 {
  text-align: center;
}

#blurb h2,
#blurb h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#blurb p,
#proof p {
  font-size: 1.2em;
  text-align: center;
}

#blurb .focus {
  font-size: 1.2em;
}

/* WEB BUILD PAGE */

#grid-top,
#grid-bottom {
  display: flex;
  width: 100%;
  margin: 2% 0;
  justify-content: space-around;
  align-items: center;
}

#grid-top div,
#grid-bottom div  {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  border: 7px solid #A6A6A8;
  overflow: hidden;
  background: #B1E5F2;
}

#grid-top img,
#grid-bottom img {
  height: 100%;
}

#grid-top img:hover,
#grid-bottom img:hover {
  opacity: 0.25;
}

#label {
  display: flex;
  justify-content: flex-end;
  margin: -2% 5% 2%;
}

#label p {
  font-size: 0.75%;
}

/* BOT PAGE */

.table {
  margin: 3% 3% 0;
  display: flex;
  justify-content: space-around;
}

.avatar {
  width: 36vh;
  height: 36vh;
  border-radius: 100%;
  overflow: hidden;
  background: #B1E5F2;
  border: 7px solid #A6A6A8;
}

.avatar img {
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.avatar img:hover {
  opacity: 0.25;
}

.table_labels {
  display: flex;
  margin: 0 3%;
}

.t_label {
  text-align: center;
  width: 33.33%;
}

.bot_about {
  margin: 2%;
  font-size: 0.8em;
}

#bluebot_blurb,
#daddy_blurb,
#botfluevog_blurb {
  display: none;
}

/* CONTACT PAGE */

form {
  text-align: center;
}

form input,
form textarea {
  display: block;
  margin: 1% auto;
  width: 45%;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  padding: 0.4%;
  border: 1px solid #E8E9F3;
  box-shadow: 3px 3px #A6A6A8;
}

form input:nth-of-type(3) {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
  width: 30%;
}

form input:nth-of-type(3):hover {
  background: black;
  color: white;
  border: 1px solid black;
}

form input:nth-of-type(3):active {
  background: #B1E5F2;
  color: #E8E9F3;
  border: 1px solid #B1E5F2;
}

#send_confirm {
  margin: 5%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* JS EFFECTS */

.hidden {
  display: none;
}
